---
import type { HeroData } from "../lib/grav";
import { GRAV_MEDIA_BASE } from "../lib/grav";
import SanderLogoHero from "./SanderLogoHero.astro";

interface Props {
  hero: HeroData;
}

const { hero } = Astro.props;

const decoColor = hero.deco_color ?? "#ad94a5";
const decoWidth = hero.deco_width ? `${hero.deco_width}vw` : "110vw";
const headlineScale = hero.headline_scale ?? 1;
const sublineScale = hero.subline_scale ?? 1;
const gapSpacing = hero.headline_subline_spacing ?? 1.5;

const bgVideo = hero.background_video
  ? `${GRAV_MEDIA_BASE}/${hero.background_video.split("/").pop()}`
  : null;
const bgImage = !bgVideo && hero.background_image
  ? `${GRAV_MEDIA_BASE}/${hero.background_image.split("/").pop()}`
  : null;
const hasOverlay =
  (bgVideo || bgImage) &&
  hero.background_overlay !== false &&
  hero.background_overlay !== 0 &&
  hero.background_overlay !== "0";
const isDesaturated =
  hero.background_desaturate === true ||
  hero.background_desaturate === 1 ||
  hero.background_desaturate === "1";
---

<section
  class="hero-section relative min-h-screen flex items-center justify-center"
  style="background-color: var(--color-bg-app); color: var(--color-text-primary);"
>
  {/* Background: Vanilla CSS/JS – kein WebGL, kein Canvas */}
  <div class="hero__bg" aria-hidden="true">
    {/* Optionaler Medien-Hintergrund: Video hat Vorrang vor Bild */}
    {bgVideo && (
      <video
        class={`hero__media${isDesaturated ? " hero__media--desaturate" : ""}`}
        src={bgVideo}
        autoplay
        muted
        loop
        playsinline
        data-speed={hero.background_video_speed ?? 1}
      />
    )}
    {bgImage && (
      <img
        class={`hero__media${isDesaturated ? " hero__media--desaturate" : ""}`}
        src={bgImage}
        alt=""
      />
    )}
    {hasOverlay && <div class="hero__media-overlay" />}

    <div class="hero__perspective">
      <div class="hero__deco-wrap" style={`--deco-color: ${decoColor}; --deco-width: ${decoWidth}`}>
        <svg class="hero__deco-svg hero__deco-svg--dim" viewBox="0 0 1997 697" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M1778.3 393.006V93.65H1666.25V8.6614H1997V93.65H1884.94V393.006H1778.3Z"/>
          <path d="M1308.9 393.006V8.6614H1492.41C1521.28 8.6614 1546.36 13.3529 1567.65 22.736C1589.31 32.119 1605.91 45.2914 1617.46 62.2531C1629.37 79.2148 1635.32 99.244 1635.32 122.341C1635.32 140.385 1631.89 156.445 1625.03 170.519C1618.18 184.233 1608.25 195.601 1595.26 204.623C1582.27 213.645 1566.57 219.78 1548.17 223.028L1547.08 217.615C1574.15 217.615 1594.36 223.389 1607.71 234.938C1621.06 246.125 1628.46 262.726 1629.91 284.74L1638.57 393.006H1530.3L1524.89 303.145C1524.17 289.071 1520.38 278.785 1513.52 272.29C1506.66 265.433 1494.57 262.004 1477.25 262.004H1415V393.006H1308.9ZM1415 177.015H1472.92C1490.6 177.015 1503.96 173.406 1512.98 166.189C1522.36 158.61 1527.05 148.144 1527.05 134.791C1527.05 121.078 1522.36 110.792 1512.98 103.936C1503.96 97.079 1490.6 93.65 1472.92 93.65H1415V177.015Z"/>
          <path d="M875.791 393.006L1014.37 8.6614H1135.09L1273.67 393.006H1165.4L1143.75 329.671H1005.17L983.516 393.006H875.791ZM1033.32 247.388H1116.14L1075 125.589L1033.32 247.388Z"/>
          <path d="M388.293 393.006V8.6614H527.956L609.156 252.802L690.356 8.6614H830.019V393.006H723.918V176.474L646.508 391.382H571.263L494.394 176.474V393.006H388.293Z"/>
          <path d="M171.602 401.667C136.235 401.667 106.101 396.074 81.1996 384.886C56.2984 373.699 36.9909 357.82 23.2772 337.249C9.5635 316.679 1.8044 292.319 0 264.169L105.56 259.297C107.364 271.928 110.973 282.755 116.386 291.777C121.799 300.439 129.017 307.115 138.039 311.807C147.422 316.137 158.971 318.302 172.685 318.302C183.511 318.302 192.714 317.22 200.292 315.055C207.871 312.528 213.645 308.739 217.615 303.687C221.585 298.634 223.57 292.319 223.57 284.74C223.57 277.883 221.765 271.929 218.156 266.876C214.908 261.463 208.232 256.771 198.127 252.801C188.383 248.471 173.767 244.321 154.279 240.351C119.273 233.133 90.9436 224.833 69.2904 215.45C47.6371 205.706 31.7581 193.255 21.6532 178.098C11.9093 162.941 7.0373 143.633 7.0373 120.175C7.0373 96.357 13.1724 75.4254 25.4426 57.3811C37.7127 39.3367 55.3962 25.2621 78.493 15.1573C101.59 5.0524 129.378 0 161.858 0C196.142 0 224.833 5.7742 247.93 17.3226C271.026 28.871 288.89 44.75 301.521 64.9597C314.513 85.169 322.272 108.627 324.799 135.333L220.322 139.663C219.6 127.754 216.713 117.649 211.66 109.349C206.608 101.048 199.751 94.733 191.09 90.402C182.789 85.711 172.685 83.365 160.775 83.365C145.618 83.365 133.889 86.432 125.589 92.568C117.288 98.703 113.138 106.823 113.138 116.927C113.138 124.867 115.123 131.543 119.093 136.957C123.423 142.37 130.28 146.881 139.663 150.49C149.407 154.099 162.58 157.347 179.181 160.234C217.074 166.73 247.027 175.572 269.042 186.759C291.056 197.947 306.574 211.299 315.596 226.818C324.979 242.336 329.671 260.2 329.671 280.409C329.671 305.311 323.355 326.964 310.724 345.369C298.454 363.413 280.409 377.308 256.591 387.052C233.133 396.795 204.804 401.667 171.602 401.667Z"/>
          <path d="M1864.44 696.588C1837.73 696.588 1814.74 690.679 1795.47 678.862C1776.2 666.788 1761.3 650.09 1750.77 628.768C1740.49 607.446 1735.36 582.528 1735.36 554.013C1735.36 526.526 1740.62 501.992 1751.16 480.414C1761.94 458.835 1777.36 441.88 1797.4 429.549C1817.43 416.961 1841.58 410.667 1869.84 410.667C1894.76 410.667 1915.69 414.649 1932.65 422.613C1949.86 430.32 1963.6 441.623 1973.88 456.523C1984.41 471.422 1991.86 489.405 1996.23 510.47L1918.01 513.553C1915.69 499.937 1910.81 489.533 1903.36 482.34C1895.91 474.89 1885 471.165 1870.61 471.165C1858.28 471.165 1847.75 474.633 1839.01 481.57C1830.53 488.506 1823.98 498.139 1819.36 510.47C1814.99 522.801 1812.81 537.315 1812.81 554.013C1812.81 570.454 1814.86 584.84 1818.97 597.171C1823.34 609.502 1829.89 619.135 1838.63 626.071C1847.36 632.75 1858.54 636.09 1872.15 636.09C1881.66 636.09 1889.75 634.548 1896.43 631.466C1903.36 628.126 1908.89 623.502 1913 617.594C1917.36 611.428 1920.19 604.107 1921.47 595.629H1870.22V545.536H1997V690.422H1953.07L1949.22 634.934L1957.7 636.475C1955.38 648.549 1949.86 659.082 1941.13 668.073C1932.65 677.064 1921.73 684.129 1908.37 689.266C1895.27 694.147 1880.63 696.588 1864.44 696.588Z"/>
          <path d="M1454.37 690.423V416.833H1530.67L1621.99 570.968V416.833H1697.52V690.423H1621.22L1529.9 543.994V690.423H1454.37Z"/>
          <path d="M1329.35 690.423V416.833H1404.88V690.423H1329.35Z"/>
          <path d="M1048.92 690.423V416.833H1179.55C1200.1 416.833 1217.96 420.173 1233.11 426.852C1248.53 433.531 1260.34 442.907 1268.56 454.981C1277.04 467.055 1281.28 481.313 1281.28 497.754C1281.28 510.598 1278.84 522.03 1273.96 532.049C1269.08 541.811 1262.01 549.903 1252.76 556.325C1243.52 562.747 1232.34 567.115 1219.24 569.427L1218.47 565.573C1237.74 565.573 1252.12 569.683 1261.63 577.904C1271.13 585.868 1276.4 597.685 1277.43 613.355L1283.59 690.423H1206.52L1202.67 626.457C1202.16 616.438 1199.46 609.116 1194.58 604.492C1189.7 599.611 1181.09 597.171 1168.76 597.171H1124.45V690.423H1048.92ZM1124.45 536.673H1165.68C1178.27 536.673 1187.77 534.104 1194.19 528.966C1200.87 523.571 1204.21 516.122 1204.21 506.617C1204.21 496.855 1200.87 489.533 1194.19 484.652C1187.77 479.771 1178.27 477.331 1165.68 477.331H1124.45V536.673Z"/>
          <path d="M798.594 690.423V416.833H1001.28V477.331H874.12V523.186H996.657V583.299H874.12V629.925H1004.36V690.423H798.594Z"/>
          <path d="M614.015 690.423V477.331H534.25V416.833H769.691V477.331H689.926V690.423H614.015Z"/>
          <path d="M275.342 690.423L373.988 416.833H459.918L558.565 690.423H481.497L466.084 645.338H367.437L352.024 690.423H275.342ZM387.475 586.767H446.432L417.146 500.066L387.475 586.767Z"/>
          <path d="M132.171 696.588C106.738 696.588 84.0035 690.936 63.966 679.633C44.1853 668.33 28.515 652.146 16.9548 631.08C5.6516 609.758 0 584.069 0 554.013C0 525.241 5.3947 500.194 16.1842 478.872C26.9736 457.293 42.3871 440.595 62.4246 428.778C82.4622 416.704 106.225 410.667 133.712 410.667C171.218 410.667 200.375 419.787 221.184 438.026C242.249 456.266 255.736 482.854 261.644 517.791L183.421 520.489C180.852 504.818 175.2 492.744 166.466 484.267C157.731 475.533 146.814 471.165 133.712 471.165C121.124 471.165 110.592 474.762 102.114 481.955C93.8939 488.891 87.7285 498.653 83.6182 511.241C79.5079 523.571 77.4528 537.829 77.4528 554.013C77.4528 570.711 79.6364 585.225 84.0035 597.556C88.3707 609.887 94.6645 619.392 102.885 626.071C111.363 632.75 121.381 636.09 132.941 636.09C147.841 636.09 159.401 631.594 167.622 622.603C175.842 613.355 181.109 600.382 183.421 583.684L262.029 586.381C258.176 610.272 250.726 630.438 239.68 646.879C228.633 663.063 214.119 675.394 196.137 683.872C178.411 692.349 157.089 696.588 132.171 696.588Z"/>
        </svg>
        <svg class="hero__deco-svg hero__deco-svg--lit" viewBox="0 0 1997 697" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M1778.3 393.006V93.65H1666.25V8.6614H1997V93.65H1884.94V393.006H1778.3Z"/>
          <path d="M1308.9 393.006V8.6614H1492.41C1521.28 8.6614 1546.36 13.3529 1567.65 22.736C1589.31 32.119 1605.91 45.2914 1617.46 62.2531C1629.37 79.2148 1635.32 99.244 1635.32 122.341C1635.32 140.385 1631.89 156.445 1625.03 170.519C1618.18 184.233 1608.25 195.601 1595.26 204.623C1582.27 213.645 1566.57 219.78 1548.17 223.028L1547.08 217.615C1574.15 217.615 1594.36 223.389 1607.71 234.938C1621.06 246.125 1628.46 262.726 1629.91 284.74L1638.57 393.006H1530.3L1524.89 303.145C1524.17 289.071 1520.38 278.785 1513.52 272.29C1506.66 265.433 1494.57 262.004 1477.25 262.004H1415V393.006H1308.9ZM1415 177.015H1472.92C1490.6 177.015 1503.96 173.406 1512.98 166.189C1522.36 158.61 1527.05 148.144 1527.05 134.791C1527.05 121.078 1522.36 110.792 1512.98 103.936C1503.96 97.079 1490.6 93.65 1472.92 93.65H1415V177.015Z"/>
          <path d="M875.791 393.006L1014.37 8.6614H1135.09L1273.67 393.006H1165.4L1143.75 329.671H1005.17L983.516 393.006H875.791ZM1033.32 247.388H1116.14L1075 125.589L1033.32 247.388Z"/>
          <path d="M388.293 393.006V8.6614H527.956L609.156 252.802L690.356 8.6614H830.019V393.006H723.918V176.474L646.508 391.382H571.263L494.394 176.474V393.006H388.293Z"/>
          <path d="M171.602 401.667C136.235 401.667 106.101 396.074 81.1996 384.886C56.2984 373.699 36.9909 357.82 23.2772 337.249C9.5635 316.679 1.8044 292.319 0 264.169L105.56 259.297C107.364 271.928 110.973 282.755 116.386 291.777C121.799 300.439 129.017 307.115 138.039 311.807C147.422 316.137 158.971 318.302 172.685 318.302C183.511 318.302 192.714 317.22 200.292 315.055C207.871 312.528 213.645 308.739 217.615 303.687C221.585 298.634 223.57 292.319 223.57 284.74C223.57 277.883 221.765 271.929 218.156 266.876C214.908 261.463 208.232 256.771 198.127 252.801C188.383 248.471 173.767 244.321 154.279 240.351C119.273 233.133 90.9436 224.833 69.2904 215.45C47.6371 205.706 31.7581 193.255 21.6532 178.098C11.9093 162.941 7.0373 143.633 7.0373 120.175C7.0373 96.357 13.1724 75.4254 25.4426 57.3811C37.7127 39.3367 55.3962 25.2621 78.493 15.1573C101.59 5.0524 129.378 0 161.858 0C196.142 0 224.833 5.7742 247.93 17.3226C271.026 28.871 288.89 44.75 301.521 64.9597C314.513 85.169 322.272 108.627 324.799 135.333L220.322 139.663C219.6 127.754 216.713 117.649 211.66 109.349C206.608 101.048 199.751 94.733 191.09 90.402C182.789 85.711 172.685 83.365 160.775 83.365C145.618 83.365 133.889 86.432 125.589 92.568C117.288 98.703 113.138 106.823 113.138 116.927C113.138 124.867 115.123 131.543 119.093 136.957C123.423 142.37 130.28 146.881 139.663 150.49C149.407 154.099 162.58 157.347 179.181 160.234C217.074 166.73 247.027 175.572 269.042 186.759C291.056 197.947 306.574 211.299 315.596 226.818C324.979 242.336 329.671 260.2 329.671 280.409C329.671 305.311 323.355 326.964 310.724 345.369C298.454 363.413 280.409 377.308 256.591 387.052C233.133 396.795 204.804 401.667 171.602 401.667Z"/>
          <path d="M1864.44 696.588C1837.73 696.588 1814.74 690.679 1795.47 678.862C1776.2 666.788 1761.3 650.09 1750.77 628.768C1740.49 607.446 1735.36 582.528 1735.36 554.013C1735.36 526.526 1740.62 501.992 1751.16 480.414C1761.94 458.835 1777.36 441.88 1797.4 429.549C1817.43 416.961 1841.58 410.667 1869.84 410.667C1894.76 410.667 1915.69 414.649 1932.65 422.613C1949.86 430.32 1963.6 441.623 1973.88 456.523C1984.41 471.422 1991.86 489.405 1996.23 510.47L1918.01 513.553C1915.69 499.937 1910.81 489.533 1903.36 482.34C1895.91 474.89 1885 471.165 1870.61 471.165C1858.28 471.165 1847.75 474.633 1839.01 481.57C1830.53 488.506 1823.98 498.139 1819.36 510.47C1814.99 522.801 1812.81 537.315 1812.81 554.013C1812.81 570.454 1814.86 584.84 1818.97 597.171C1823.34 609.502 1829.89 619.135 1838.63 626.071C1847.36 632.75 1858.54 636.09 1872.15 636.09C1881.66 636.09 1889.75 634.548 1896.43 631.466C1903.36 628.126 1908.89 623.502 1913 617.594C1917.36 611.428 1920.19 604.107 1921.47 595.629H1870.22V545.536H1997V690.422H1953.07L1949.22 634.934L1957.7 636.475C1955.38 648.549 1949.86 659.082 1941.13 668.073C1932.65 677.064 1921.73 684.129 1908.37 689.266C1895.27 694.147 1880.63 696.588 1864.44 696.588Z"/>
          <path d="M1454.37 690.423V416.833H1530.67L1621.99 570.968V416.833H1697.52V690.423H1621.22L1529.9 543.994V690.423H1454.37Z"/>
          <path d="M1329.35 690.423V416.833H1404.88V690.423H1329.35Z"/>
          <path d="M1048.92 690.423V416.833H1179.55C1200.1 416.833 1217.96 420.173 1233.11 426.852C1248.53 433.531 1260.34 442.907 1268.56 454.981C1277.04 467.055 1281.28 481.313 1281.28 497.754C1281.28 510.598 1278.84 522.03 1273.96 532.049C1269.08 541.811 1262.01 549.903 1252.76 556.325C1243.52 562.747 1232.34 567.115 1219.24 569.427L1218.47 565.573C1237.74 565.573 1252.12 569.683 1261.63 577.904C1271.13 585.868 1276.4 597.685 1277.43 613.355L1283.59 690.423H1206.52L1202.67 626.457C1202.16 616.438 1199.46 609.116 1194.58 604.492C1189.7 599.611 1181.09 597.171 1168.76 597.171H1124.45V690.423H1048.92ZM1124.45 536.673H1165.68C1178.27 536.673 1187.77 534.104 1194.19 528.966C1200.87 523.571 1204.21 516.122 1204.21 506.617C1204.21 496.855 1200.87 489.533 1194.19 484.652C1187.77 479.771 1178.27 477.331 1165.68 477.331H1124.45V536.673Z"/>
          <path d="M798.594 690.423V416.833H1001.28V477.331H874.12V523.186H996.657V583.299H874.12V629.925H1004.36V690.423H798.594Z"/>
          <path d="M614.015 690.423V477.331H534.25V416.833H769.691V477.331H689.926V690.423H614.015Z"/>
          <path d="M275.342 690.423L373.988 416.833H459.918L558.565 690.423H481.497L466.084 645.338H367.437L352.024 690.423H275.342ZM387.475 586.767H446.432L417.146 500.066L387.475 586.767Z"/>
          <path d="M132.171 696.588C106.738 696.588 84.0035 690.936 63.966 679.633C44.1853 668.33 28.515 652.146 16.9548 631.08C5.6516 609.758 0 584.069 0 554.013C0 525.241 5.3947 500.194 16.1842 478.872C26.9736 457.293 42.3871 440.595 62.4246 428.778C82.4622 416.704 106.225 410.667 133.712 410.667C171.218 410.667 200.375 419.787 221.184 438.026C242.249 456.266 255.736 482.854 261.644 517.791L183.421 520.489C180.852 504.818 175.2 492.744 166.466 484.267C157.731 475.533 146.814 471.165 133.712 471.165C121.124 471.165 110.592 474.762 102.114 481.955C93.8939 488.891 87.7285 498.653 83.6182 511.241C79.5079 523.571 77.4528 537.829 77.4528 554.013C77.4528 570.711 79.6364 585.225 84.0035 597.556C88.3707 609.887 94.6645 619.392 102.885 626.071C111.363 632.75 121.381 636.09 132.941 636.09C147.841 636.09 159.401 631.594 167.622 622.603C175.842 613.355 181.109 600.382 183.421 583.684L262.029 586.381C258.176 610.272 250.726 630.438 239.68 646.879C228.633 663.063 214.119 675.394 196.137 683.872C178.411 692.349 157.089 696.588 132.171 696.588Z"/>
        </svg>
        <svg class="hero__deco-svg hero__deco-svg--shadow" viewBox="0 0 1997 697" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M1778.3 393.006V93.65H1666.25V8.6614H1997V93.65H1884.94V393.006H1778.3Z"/>
          <path d="M1308.9 393.006V8.6614H1492.41C1521.28 8.6614 1546.36 13.3529 1567.65 22.736C1589.31 32.119 1605.91 45.2914 1617.46 62.2531C1629.37 79.2148 1635.32 99.244 1635.32 122.341C1635.32 140.385 1631.89 156.445 1625.03 170.519C1618.18 184.233 1608.25 195.601 1595.26 204.623C1582.27 213.645 1566.57 219.78 1548.17 223.028L1547.08 217.615C1574.15 217.615 1594.36 223.389 1607.71 234.938C1621.06 246.125 1628.46 262.726 1629.91 284.74L1638.57 393.006H1530.3L1524.89 303.145C1524.17 289.071 1520.38 278.785 1513.52 272.29C1506.66 265.433 1494.57 262.004 1477.25 262.004H1415V393.006H1308.9ZM1415 177.015H1472.92C1490.6 177.015 1503.96 173.406 1512.98 166.189C1522.36 158.61 1527.05 148.144 1527.05 134.791C1527.05 121.078 1522.36 110.792 1512.98 103.936C1503.96 97.079 1490.6 93.65 1472.92 93.65H1415V177.015Z"/>
          <path d="M875.791 393.006L1014.37 8.6614H1135.09L1273.67 393.006H1165.4L1143.75 329.671H1005.17L983.516 393.006H875.791ZM1033.32 247.388H1116.14L1075 125.589L1033.32 247.388Z"/>
          <path d="M388.293 393.006V8.6614H527.956L609.156 252.802L690.356 8.6614H830.019V393.006H723.918V176.474L646.508 391.382H571.263L494.394 176.474V393.006H388.293Z"/>
          <path d="M171.602 401.667C136.235 401.667 106.101 396.074 81.1996 384.886C56.2984 373.699 36.9909 357.82 23.2772 337.249C9.5635 316.679 1.8044 292.319 0 264.169L105.56 259.297C107.364 271.928 110.973 282.755 116.386 291.777C121.799 300.439 129.017 307.115 138.039 311.807C147.422 316.137 158.971 318.302 172.685 318.302C183.511 318.302 192.714 317.22 200.292 315.055C207.871 312.528 213.645 308.739 217.615 303.687C221.585 298.634 223.57 292.319 223.57 284.74C223.57 277.883 221.765 271.929 218.156 266.876C214.908 261.463 208.232 256.771 198.127 252.801C188.383 248.471 173.767 244.321 154.279 240.351C119.273 233.133 90.9436 224.833 69.2904 215.45C47.6371 205.706 31.7581 193.255 21.6532 178.098C11.9093 162.941 7.0373 143.633 7.0373 120.175C7.0373 96.357 13.1724 75.4254 25.4426 57.3811C37.7127 39.3367 55.3962 25.2621 78.493 15.1573C101.59 5.0524 129.378 0 161.858 0C196.142 0 224.833 5.7742 247.93 17.3226C271.026 28.871 288.89 44.75 301.521 64.9597C314.513 85.169 322.272 108.627 324.799 135.333L220.322 139.663C219.6 127.754 216.713 117.649 211.66 109.349C206.608 101.048 199.751 94.733 191.09 90.402C182.789 85.711 172.685 83.365 160.775 83.365C145.618 83.365 133.889 86.432 125.589 92.568C117.288 98.703 113.138 106.823 113.138 116.927C113.138 124.867 115.123 131.543 119.093 136.957C123.423 142.37 130.28 146.881 139.663 150.49C149.407 154.099 162.58 157.347 179.181 160.234C217.074 166.73 247.027 175.572 269.042 186.759C291.056 197.947 306.574 211.299 315.596 226.818C324.979 242.336 329.671 260.2 329.671 280.409C329.671 305.311 323.355 326.964 310.724 345.369C298.454 363.413 280.409 377.308 256.591 387.052C233.133 396.795 204.804 401.667 171.602 401.667Z"/>
          <path d="M1864.44 696.588C1837.73 696.588 1814.74 690.679 1795.47 678.862C1776.2 666.788 1761.3 650.09 1750.77 628.768C1740.49 607.446 1735.36 582.528 1735.36 554.013C1735.36 526.526 1740.62 501.992 1751.16 480.414C1761.94 458.835 1777.36 441.88 1797.4 429.549C1817.43 416.961 1841.58 410.667 1869.84 410.667C1894.76 410.667 1915.69 414.649 1932.65 422.613C1949.86 430.32 1963.6 441.623 1973.88 456.523C1984.41 471.422 1991.86 489.405 1996.23 510.47L1918.01 513.553C1915.69 499.937 1910.81 489.533 1903.36 482.34C1895.91 474.89 1885 471.165 1870.61 471.165C1858.28 471.165 1847.75 474.633 1839.01 481.57C1830.53 488.506 1823.98 498.139 1819.36 510.47C1814.99 522.801 1812.81 537.315 1812.81 554.013C1812.81 570.454 1814.86 584.84 1818.97 597.171C1823.34 609.502 1829.89 619.135 1838.63 626.071C1847.36 632.75 1858.54 636.09 1872.15 636.09C1881.66 636.09 1889.75 634.548 1896.43 631.466C1903.36 628.126 1908.89 623.502 1913 617.594C1917.36 611.428 1920.19 604.107 1921.47 595.629H1870.22V545.536H1997V690.422H1953.07L1949.22 634.934L1957.7 636.475C1955.38 648.549 1949.86 659.082 1941.13 668.073C1932.65 677.064 1921.73 684.129 1908.37 689.266C1895.27 694.147 1880.63 696.588 1864.44 696.588Z"/>
          <path d="M1454.37 690.423V416.833H1530.67L1621.99 570.968V416.833H1697.52V690.423H1621.22L1529.9 543.994V690.423H1454.37Z"/>
          <path d="M1329.35 690.423V416.833H1404.88V690.423H1329.35Z"/>
          <path d="M1048.92 690.423V416.833H1179.55C1200.1 416.833 1217.96 420.173 1233.11 426.852C1248.53 433.531 1260.34 442.907 1268.56 454.981C1277.04 467.055 1281.28 481.313 1281.28 497.754C1281.28 510.598 1278.84 522.03 1273.96 532.049C1269.08 541.811 1262.01 549.903 1252.76 556.325C1243.52 562.747 1232.34 567.115 1219.24 569.427L1218.47 565.573C1237.74 565.573 1252.12 569.683 1261.63 577.904C1271.13 585.868 1276.4 597.685 1277.43 613.355L1283.59 690.423H1206.52L1202.67 626.457C1202.16 616.438 1199.46 609.116 1194.58 604.492C1189.7 599.611 1181.09 597.171 1168.76 597.171H1124.45V690.423H1048.92ZM1124.45 536.673H1165.68C1178.27 536.673 1187.77 534.104 1194.19 528.966C1200.87 523.571 1204.21 516.122 1204.21 506.617C1204.21 496.855 1200.87 489.533 1194.19 484.652C1187.77 479.771 1178.27 477.331 1165.68 477.331H1124.45V536.673Z"/>
          <path d="M798.594 690.423V416.833H1001.28V477.331H874.12V523.186H996.657V583.299H874.12V629.925H1004.36V690.423H798.594Z"/>
          <path d="M614.015 690.423V477.331H534.25V416.833H769.691V477.331H689.926V690.423H614.015Z"/>
          <path d="M275.342 690.423L373.988 416.833H459.918L558.565 690.423H481.497L466.084 645.338H367.437L352.024 690.423H275.342ZM387.475 586.767H446.432L417.146 500.066L387.475 586.767Z"/>
          <path d="M132.171 696.588C106.738 696.588 84.0035 690.936 63.966 679.633C44.1853 668.33 28.515 652.146 16.9548 631.08C5.6516 609.758 0 584.069 0 554.013C0 525.241 5.3947 500.194 16.1842 478.872C26.9736 457.293 42.3871 440.595 62.4246 428.778C82.4622 416.704 106.225 410.667 133.712 410.667C171.218 410.667 200.375 419.787 221.184 438.026C242.249 456.266 255.736 482.854 261.644 517.791L183.421 520.489C180.852 504.818 175.2 492.744 166.466 484.267C157.731 475.533 146.814 471.165 133.712 471.165C121.124 471.165 110.592 474.762 102.114 481.955C93.8939 488.891 87.7285 498.653 83.6182 511.241C79.5079 523.571 77.4528 537.829 77.4528 554.013C77.4528 570.711 79.6364 585.225 84.0035 597.556C88.3707 609.887 94.6645 619.392 102.885 626.071C111.363 632.75 121.381 636.09 132.941 636.09C147.841 636.09 159.401 631.594 167.622 622.603C175.842 613.355 181.109 600.382 183.421 583.684L262.029 586.381C258.176 610.272 250.726 630.438 239.68 646.879C228.633 663.063 214.119 675.394 196.137 683.872C178.411 692.349 157.089 696.588 132.171 696.588Z"/>
        </svg>
      </div>
    </div>
    <div class="hero__spotlight"></div>
  </div>

  {/* Foreground content */}
  <div
    class="relative z-10 text-center max-w-3xl px-6 pointer-events-none"
    style={`display: flex; flex-direction: column; gap: ${gapSpacing}rem;`}
  >
    <h1
      class="font-black tracking-tight leading-tight"
      style={`font-family: var(--font-heading); font-size: calc(var(--text-h1) * ${headlineScale}); line-height: var(--leading-h1); font-weight: var(--weight-black);`}
    >
      <Fragment set:html={hero.headline} />
    </h1>
    {
      hero.subline && (
        <p
          style={`font-family: var(--font-body); font-size: calc(var(--text-body-lg) * ${sublineScale}); line-height: var(--leading-body-lg); color: var(--color-text-secondary);`}
        >
          {hero.subline}
        </p>
      )
    }
    {
      (hero.show_cta === true ||
        hero.show_cta === 1 ||
        hero.show_cta === "1") &&
        hero.cta_text && (
          <a
            href={hero.cta_link ?? "#"}
            class="pointer-events-auto inline-block transition-opacity duration-200 hover:opacity-90"
            style={`
                        margin-top: var(--space-200);
                        padding: var(--space-150) var(--space-500);
                        background-color: var(--color-btn-primary-bg);
                        color: var(--color-btn-primary-text);
                        font-family: var(--font-action);
                        font-size: var(--text-action-lg);
                        font-weight: var(--weight-medium);
                        border-radius: var(--radius-rounded);
                        box-shadow: var(--shadow-m);
                    `}
          >
            {hero.cta_text}
          </a>
        )
    }
  </div>

  {/* Logo at the bottom center */}
  <div
    class="absolute bottom-0 left-1/2 -translate-x-1/2 z-20 pointer-events-none pb-6 md:pb-10 w-full px-6 flex justify-center"
  >
    <SanderLogoHero />
  </div>
</section>

<script is:inline>
  (function () {
    var section = document.querySelector(".hero-section");
    var decoWrap = section && section.querySelector(".hero__deco-wrap");
    var spotlight = section && section.querySelector(".hero__spotlight");
    var litText = section && section.querySelector(".hero__deco-svg--lit");
    if (!section || !decoWrap || !spotlight || !litText) return;

    var targetX = 0.5,
      targetY = 0.5;
    var currentX = 0.5,
      currentY = 0.5;
    var rafId = null;

    function lerp(a, b, t) {
      return a + (b - a) * t;
    }

    function tick() {
      currentX = lerp(currentX, targetX, 0.06);
      currentY = lerp(currentY, targetY, 0.06);

      var rx = (currentY - 0.5) * 10;
      var ry = (currentX - 0.5) * -10;
      decoWrap.style.transform =
        "rotateX(" + rx + "deg) rotateY(" + ry + "deg)";

      spotlight.style.setProperty("--mx", currentX * 100 + "%");
      spotlight.style.setProperty("--my", currentY * 100 + "%");

      if (
        Math.abs(currentX - targetX) > 0.0005 ||
        Math.abs(currentY - targetY) > 0.0005
      ) {
        rafId = requestAnimationFrame(tick);
      } else {
        rafId = null;
      }
    }

    section.addEventListener("mousemove", function (e) {
      var rect = section.getBoundingClientRect();
      targetX = (e.clientX - rect.left) / rect.width;
      targetY = (e.clientY - rect.top) / rect.height;
      if (!rafId) rafId = requestAnimationFrame(tick);

      // Taschenlampe: Koordinaten relativ zum lit-Element selbst
      var litRect = litText.getBoundingClientRect();
      litText.style.setProperty("--lx", e.clientX - litRect.left + "px");
      litText.style.setProperty("--ly", e.clientY - litRect.top + "px");
    });

    section.addEventListener("mouseleave", function () {
      litText.style.setProperty("--lx", "-9999px");
      litText.style.setProperty("--ly", "-9999px");
    });

    // Video-Geschwindigkeit via data-speed Attribut
    var video = section.querySelector("video.hero__media");
    if (video) {
      var speed = parseFloat(video.dataset.speed);
      if (!isNaN(speed) && speed > 0) video.playbackRate = speed;
    }
  })();
</script>

<style>
  .hero__bg {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: var(--color-bg-app);
  }

  /* Optionaler Medien-Hintergrund (Video oder Bild) */
  .hero__media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* Overlay in der Markenfarbe aus den Design-Tokens */
  .hero__media-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--color-bg-overlay);
  }

  /* Entsättigt das Medium – kombiniert mit dem farbigen Overlay
     ergibt sich automatisch der Aubergine-Ton der Marke */
  .hero__media--desaturate {
    filter: grayscale(100%);
  }

  /* Perspective-Container: gibt dem Kind-Element den 3D-Kontext */
  .hero__perspective {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 900px;
  }

  /* Wird per JS mit rotateX/rotateY animiert */
  .hero__deco-wrap {
    position: relative;
    will-change: transform;
  }

  .hero__deco-svg {
    display: block;
    width: var(--deco-width, 110vw);
    height: auto;
    user-select: none;
    pointer-events: none;
  }

  /* Ambient-Layer: immer sichtbar, gedimmt */
  .hero__deco-svg--dim {
    color: color-mix(in srgb, var(--deco-color, #ad94a5) 5%, transparent);
  }

  /* Lit-Layer: 0.8 Helligkeit, nur im Taschenlampen-Radius sichtbar */
  .hero__deco-svg--lit {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: var(--deco-color, #ad94a5);
    opacity: 0.8;
    --lx: -9999px;
    --ly: -9999px;
    -webkit-mask-image: radial-gradient(
      circle 300px at var(--lx) var(--ly),
      black 0%,
      rgba(0, 0, 0, 0.6) 35%,
      transparent 70%
    );
    mask-image: radial-gradient(
      circle 300px at var(--lx) var(--ly),
      black 0%,
      rgba(0, 0, 0, 0.6) 35%,
      transparent 70%
    );
  }

  /* Shadow-Layer: liegt absolut über dem Dim-SVG */
  .hero__deco-svg--shadow {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    color: color-mix(in srgb, var(--deco-color, #ad94a5) 16%, transparent);
  }

  /* Spotlight folgt der Maus via CSS Custom Properties */
  .hero__spotlight {
    --mx: 50%;
    --my: 50%;
    position: absolute;
    inset: 0;
    background: radial-gradient(
      ellipse 55% 45% at var(--mx) var(--my),
      rgba(173, 148, 165, 0.1) 0%,
      transparent 70%
    );
    pointer-events: none;
  }
</style>
